body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

* {
 padding:0;
  margin:0
}
dl {
 width:100%;
 overflow:hidden;
 background:#ff0;
}
dt {
 float:left;
 width:50%; /* adjust the width; make sure the total of both is 100% */
 background:#cc0;
}
dd {
 float:left;
 width:50%; /* adjust the width; make sure the total of both is 100% */
 background:#dd0
}
