extends layout

block content
  section.episode
    form(action='/episodes/#{episode.id}' method='POST')
      p
        label Title
      p
        input(name='episode[title]' value='#{episode.title}')
      p
        label Description
      p
        input(name='episode[description]' value='#{episode.description}')
      p
        input(type='hidden' name='_method' value='PATCH')
        input(type='submit' value='Update')
