extends layout

block content
  h1
    | Game of Thrones Episodes
  p
    a(href='/episodes/new') New Episode
  section.episodes
    dl
      - for episode in episodes
        dt
          = episode.get('title')
          a(href='/episodes/#{episode.id}/edit') edit
          a(href='/episodes/#{episode.id}?_method=DELETE'
            onclick='if(!confirm("Are you sure?")) return false;') destroy
        dd
          legend= episode.get('description')
